{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Albums</h1>

        <form class="Search" method="POST" action="{{url_for('search_albums')}}">
            <input type="text" name="searchterm" placeholder="Album" autofocus required>
            <button class="flat" type="submit">Search</button>
        </form>
            {% if albums | length > 0 %}
                <!-- All Albums -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Album ID</td>
                            <td>Album Name</td>
                            <td>Album Song Count</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in albums %}
                            <!-- Each row is a link to each individual albums page -->
                            <tr class="clickable-tr" data-href="{{ url_for('single_album', album_id=instance.album_id)}}">
                                <td style="text-align: center">{{ instance.album_id }}</td>
                                <td>{{instance.album_title}}</td>
                                <td>{{instance.count}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
            {% endif %}
    </div>
{% include 'bottom.html'%}
